.centered {
	text-align: center;
}

.monospace {
	font-family: monospace;
}

.bold {
	font-style: bold;
}

.p1-text {
	color: rgb(0, 255, 0);
	text-shadow: 0px 0px 15px rgba(0, 255, 0, 1);
}

.fixed {
	position: fixed;
}